<div class="">
    <div class="breadcrumb">
      <h1>إعدادات الاسهم</h1>
      <ul>
        <li><a>القطاعات</a></li>
        <li></li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-md-2 col-sm-12">
       <a routerLink="/stockSettings/sectors/sectors-operations/new"><button mat-raised-button  class="btn btn-primary my-2">إضافة جديدة</button></a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="search-bar my-2 ml-auto ">
          <input type="search" class="form-control" placeholder="بحث في الصفحة الحالية"  [(ngModel)]="filterData">
      </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <button mat-raised-button  class="btn btn-primary my-2" (click)="getAllSectors(1,filterData)">بحث في كل الصفحات</button>
       </div>
      </div>
  
      <div class="row">
        <div class="col-md-12">
            <div class="card o-hidden">
              <ngx-datatable
              style="height: calc(160vh - 270px); box-shadow: none"
              [columnMode]="'force'" 
              [headerHeight]="50"
              [footerHeight]="50" 
              [rowHeight]="'auto'" 
              [scrollbarV]="true"
              [virtualization]="false"
              [scrollbarH]="true"
              #table
              [limit]="pageData?.per_page" 
              [rows]="SectorsList| fillter:filterData"
              class="material"
              [externalPaging]="true"
              [count]="pageData?.total"
              [offset]="pageData?.current_page - 1"
              (page)="getAllSectors($event.offset + 1)" 
              >

    
              
                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                    ID
                  </ng-template>
                  <ng-template   let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <!-- {{row?.id }} -->
                    {{rowIndex+1}}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                    اسم القطاع
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.name }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="description" >
                  <ng-template ngx-datatable-header-template>
                    وصف الخدمة	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.description }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="created_at" >
                  <ng-template ngx-datatable-header-template>
                    وقت الإنشاء	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.created_at | date }}
                </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="operations">
                  <ng-template ngx-datatable-header-template>
                    خيارات
                  </ng-template>
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>      
                  <button type="button" class="btn btn-primary btn-rounded m-1" (click)="toEditSector(row.id)" >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded m-1" (click)="deleteSector(row.id ,rowIndex )">
                    <i class="fa fa-trash"></i>
                  </button>
                </ng-template>
                </ngx-datatable-column>
    
               
              </ngx-datatable>
            </div>
        </div>
      </div>
  </div>  