<div class="">
    <div class="breadcrumb">
      <h1>إدارة العملاء</h1>
      <ul>
        <li><a>العملاء</a></li>
        <li></li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-2" *ngIf="userInfo?.roleId !== 4 && userInfo?.roleId !== 5 && userInfo?.roleId !== 3"  >
        <!-- {{userInfo?.roleId}} -->
       <a routerLink="/customersManagement/customers/operations/new"><button mat-raised-button  class="btn btn-primary my-2">إضافة جديدة</button></a>
      </div>
      <div class="col-2" *ngIf="userInfo?.roleId === 3"  >
        <!-- {{userInfo?.roleId}} -->
       <button mat-raised-button  class="btn btn-primary my-2" (click)="openAddClient()">إضافة جديدة</button>
      </div>
      <div class="col-6">
        <div class="search-bar my-2 ml-auto ">
          <input type="search" class="form-control" placeholder="بحث في الصفحة الحالية"  [(ngModel)]="filterData">
      </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <button mat-raised-button  class="btn btn-primary my-2" (click)="getAllCustomers(1,filterData)">بحث في كل الصفحات</button>
       </div>
       <div class="col-md-2" *ngIf="userInfo?.roleId === 1 || userInfo?.roleId === 5">
        <button type="button"  class="btn btn-secondary btn-rounded m-1"  (click)="toSendEmails()">
          <i class="fa fa-envelope"></i>   ارسال بريد الكتروني
        </button>
       </div>
      </div>
  
  
      <div class="row" *ngIf="userInfo.roleId !== 4 && userInfo.roleId !== 3">
        <div class="col-md-12">
            <div class="card o-hidden">
              <ngx-datatable
       
              
              style="height: calc(160vh - 270px); box-shadow: none"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50" 
              [rowHeight]="50" 
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              #table
              [limit]="pageData?.per_page" 
              [rows]="(CustomersList?.length > 0 ? CustomersList : agentAdminCustomers) | fillter:filterData"
              class="material"
              [externalPaging]="true"
              [count]="pageData?.total"
              [offset]="pageData?.current_page - 1"
              (page)="getAllCustomers($event.offset + 1)" 
              >
          
        

                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                  ID
                  </ng-template>
                  <ng-template   let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <!-- {{row?.id }} -->
                    {{rowIndex+1}}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                    اسم العميل	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.name }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                  السيولة
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.cash_type }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                  البريد الالكتروني
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.email }}
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    رقم الهاتف	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.phone }}
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                     الاستجابة  
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.phone }}
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="category" *ngIf="userInfo.roleId === 4">
                  <ng-template ngx-datatable-header-template>
                    الفاعلية  
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.efficacy }}
                </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="category" *ngIf="userInfo.roleId !== 4">
                  <ng-template ngx-datatable-header-template>
                    الفاعلية
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                   <span *ngIf="row?.bouquet">عميل فعال</span> 
                   <span *ngIf="!row?.bouquet">عميل غير فعال</span> 
                </ng-template>
                </ngx-datatable-column> -->
             
           
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    الحالة
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.status == 'active' ? 'نشط' : 'غير نشط' }}
                    <!-- <span *ngIf="row?.bouquet">عميل فعال</span>  -->
                    <!-- <span *ngIf="!row?.bouquet">عميل غير فعال</span>  -->
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    المستوي
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                   <span *ngIf="row?.level">{{row?.level}}</span> 
                  <span *ngIf="!row?.level">-</span>
                </ng-template>
                </ngx-datatable-column>
           
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    نوع التسجيل
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.registration_type }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                        عنوان IP
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.ip_address }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                 الوكيل  
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{GetIsServe(row?.is_serve)}}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                 المسوق  
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.client_marketer_name}}
                </ng-template>
                </ngx-datatable-column>
        
        
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    تاريخ الانشاء	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.created_at | date }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    تاريخ بداية الاشتراك	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.start_date | date }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    تاريخ نهاية الاشتراك	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.end_date | date }}
                </ng-template>
                </ngx-datatable-column>
          
    
                <ngx-datatable-column name="operations" [width]="300" *ngIf="userInfo?.roleId !== 4">
                  <ng-template ngx-datatable-header-template>
                    خيارات
                  </ng-template>
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>   
                      
                  <button type="button"  class="btn btn-secondary btn-rounded m-1" title="تاريخ خدمة العميل" (click)="fun(row.id)">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-rounded m-1" (click)="toEditCustomer(row.id)" >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded m-1" (click)="deleteCustomer(row.id , rowIndex )">
                    <i class="fa fa-trash"></i>
                  </button>
                  <!-- <button type="button" class="btn btn-info btn-rounded m-1" >
                    <i class="fa fa-check-square-o"></i>
                  </button> -->
                  <button type="button" style="color: #fff;" class="btn btn-success btn-rounded m-1" (click)="changeStatus(row.id)" >
                    <i class="fa fa-fire"></i>
                  </button>
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="operations" [width]="100" *ngIf="userInfo?.roleId == 4">
                  <ng-template ngx-datatable-header-template>
                    خيارات
                  </ng-template>
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>      
                  <button type="button" style="color: #fff;" class="btn btn-success btn-rounded m-1" (click)="addClientStatus(row.id)" >
                    <!-- <i class="fa fa-fire"></i> -->
                    إضافة حالة
                  </button>
                </ng-template>
                </ngx-datatable-column>
    
               
              </ngx-datatable>
            </div>
        </div>
      </div>

      <!--  -->

      <div class="row" *ngIf="userInfo.roleId === 4">
        <div class="col-md-12">
            <div class="card o-hidden">
              <ngx-datatable
             

              style="height: calc(100vh - 270px); box-shadow: none" class="material fullscreen"
              [columnMode]="'force'" 
              [headerHeight]="50"
              [footerHeight]="50" 
              [rowHeight]="50" 
              [scrollbarV]="true"
              [virtualization]="false"
              [scrollbarH]="true"
              [rows]="agentAdminCustomers | fillter:filterData"
              #table
              >
                <ngx-datatable-column name="id" >
                  <ng-template ngx-datatable-header-template>
                  ID
                  </ng-template>
                  <ng-template   let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <!-- {{row?.id }} -->
                    {{rowIndex+1}}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="client" >
                  <ng-template ngx-datatable-header-template>
                    اسم العميل	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.client }}
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    رقم الهاتف	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.phone }}
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                     الاستجابة  
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.phone }}
                </ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    الفاعلية  
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.efficacy }}
                </ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    الحالة
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.status }}
                </ng-template>
                </ngx-datatable-column>
           
                <!-- <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    نوع التسجيل
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.registration_type }}
                </ng-template>
                </ngx-datatable-column> -->
        
        
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    تاريخ الانشاء	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.created_at | date }}
                </ng-template>
                </ngx-datatable-column>
          
    
                <ngx-datatable-column name="operations" [width]="300" *ngIf="userInfo?.roleId !== 4">
                  <ng-template ngx-datatable-header-template>
                    خيارات
                  </ng-template>
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>    
                
                  <button type="button"  class="btn btn-secondary btn-rounded m-1" title="تاريخ خدمة العميل" (click)="fun(row.id)">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-rounded m-1" (click)="toEditCustomer(row.id)" >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded m-1" (click)="deleteCustomer(row.id , rowIndex )">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-rounded m-1" >
                    <i class="fa fa-check-square-o"></i>
                  </button>
                  <button type="button" style="color: #fff;" class="btn btn-success btn-rounded m-1" (click)="changeStatus(row.id)" >
                    <i class="fa fa-fire"></i>
                  </button>
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="operations" [width]="100" *ngIf="userInfo?.roleId == 4">
                  <ng-template ngx-datatable-header-template>
                    خيارات
                  </ng-template>
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>      
                  <button type="button" style="color: #fff;" class="btn btn-success btn-rounded m-1" (click)="addClientStatus(row.id)" >
                    <!-- <i class="fa fa-fire"></i> -->
                    إضافة حالة
                  </button>
                </ng-template>
                </ngx-datatable-column>
    
               
              </ngx-datatable>
            </div>
        </div>
      </div>
      <div class="row" *ngIf="userInfo.roleId === 3">
        <div class="col-md-12">
            <div class="card o-hidden">
              <ngx-datatable
             

              style="height: calc(100vh - 270px); box-shadow: none" class="material fullscreen"
              [columnMode]="'force'" 
              [headerHeight]="50"
              [footerHeight]="50" 
              [rowHeight]="50" 
              [scrollbarV]="true"
              [virtualization]="false"
              [scrollbarH]="true"
              [rows]="clientsMarketMonth"
              #table
              >
                <ngx-datatable-column name="id"  [width]="100">
                  <ng-template ngx-datatable-header-template>
                  ID
                  </ng-template>
                  <ng-template   let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <!-- {{row?.id }} -->
                    {{rowIndex+1}}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="client" >
                  <ng-template ngx-datatable-header-template>
                    اسم العميل	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.client_name }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    تاريخ الانشاء	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.created_at | date }}
                </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
        </div>
      </div>



  </div>  

