.search-bar{
    display: flex;
    align-items: center;
    justify-content: left;
    background: #f8f9fa;
    border: 1px solid #eee;
    border-radius: 5px;
    position: relative;
    width: 230px;
    height: 40px;
  }
  .search-bar{
    input{
        background: transparent;
    border: 0;
    color: #212121;
    font-size: 0.8rem;
    line-height: 2;
    height: 100%;
    outline: initial !important;
    padding: 0.5rem 1rem;
    width: calc(100% - 32px);
    }
    i{
        font-size: 18px;
    width: 24px;
    display: inline-block;
    }
}