<div class="">
    <div class="breadcrumb">
      <h1>إدارة العملاء</h1>
      <ul>
        <li><a>الفواتير</a></li>
        <li></li>
      </ul>
    </div>
  
    <div class="separator-breadcrumb border-top"></div>
  
    <div class="row">
      <div class="col-2">
       <a routerLink="/customersManagement/bills/operations/new"><button mat-raised-button  class="btn btn-primary my-2">إضافة جديدة</button></a>
      </div>
      <div class="col-6">
        <div class="search-bar my-2 ml-auto ">
          <input type="search" class="form-control" placeholder="بحث في الصفحة الحالية"  [(ngModel)]="filterData">
      </div>
      </div>
      <div class="col-md-2 col-sm-12">
        <button mat-raised-button  class="btn btn-primary my-2" (click)="getAllBills(1,filterData)">بحث في كل الصفحات</button>
       </div>
      </div>
  
    
      <div class="row">
        <div class="col-md-12">
            <div class="card o-hidden">
              <ngx-datatable
              
              style="height: calc(160vh - 270px); box-shadow: none"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50" 
              [rowHeight]="'auto'" 
              [scrollbarV]="true"
              [scrollbarH]="true"
              [virtualization]="false"
              #table
              [limit]="pageData?.per_page" 
              [rows]="billsList| fillter:filterData"
              class="material"
              [externalPaging]="true"
              [count]="pageData?.total"
              [offset]="pageData?.current_page - 1"
              (page)="getAllBills($event.offset + 1)" 
              >


                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                  ID
                  </ng-template>
                  <ng-template   let-value="value" let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
                    <!-- {{row?.id }} -->
                    {{rowIndex+1}}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="name" >
                  <ng-template ngx-datatable-header-template>
                    اسم العميل	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.client }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    اسم الباقة	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row?.bouquet }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    السعر
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                   {{row.price}}
                </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    وقت الأنشاء	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.created_at | date }}
                </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="category" >
                  <ng-template ngx-datatable-header-template>
                    نوع الفاتورة	
                  </ng-template>
                  <ng-template   let-value="value" let-row="row" ngx-datatable-cell-template>
                    {{row.type }}
                </ng-template>
                </ngx-datatable-column>
    
                <ngx-datatable-column name="operations" >
                  <ng-template ngx-datatable-header-template>
                    خيارات
                  </ng-template>
                  <ng-template let-value="value" let-row="row" let-rowIndex="rowIndex"
                  ngx-datatable-cell-template>      
                  <button type="button" class="btn btn-primary btn-rounded m-1" (click)="toEditBill(row.id)" >
                    <i class="fa fa-edit"></i>
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded m-1" (click)="deleteBill(row.id , rowIndex )">
                    <i class="fa fa-trash"></i>
                  </button>
                </ng-template>
                </ngx-datatable-column>
    
               
              </ngx-datatable>
            </div>
        </div>
      </div>

  </div>  


