<div class="card">
    <div class="card-header">
        إضافة توصية جديدة
    </div>
   
    <div class="card-body">
        <form [formGroup]="recomondationForm" (ngSubmit)="onSubmit()">
          
            <div class="form-row row">
                <div class="form-group col">
                    <label>السهم</label>
                      <ng-select 
                       [items]="StocksList" 
                       bindLabel="name"
                       bindValue="id" 
                       [multiple]="false"
                       placeholder="بحث....." 
                       [ngModelOptions]="{standalone: true}" 
                       #Stock
                       (keyup)="getAllStocks(1,Stock.searchTerm)"
                       [(ngModel)]="selectedStock"
                       >
                        <ng-template ng-option-tmp let-item="item"  let-item$="item$" let-index="index">
                         {{item?.name}}
                        </ng-template>
                      </ng-select>

                  </div>
                <div class="form-group col">
                    <label>نوع التوصية</label>
              
                    <!-- <select class="form-select" 
                    formControlName="recomondationTypeId" >
                    <option value="" disabled="" selected="">أختر</option>
                        <option [value]="item?.id" *ngFor="let item of RecommendationsTypesList">{{item?.name}}</option>
                      </select> -->

                      <ng-select 
                          [items]="RecommendationsTypesList" 
                          bindLabel="name"
                          bindValue="id" 
                          [multiple]="false"
                          placeholder="بحث....." 
                          [ngModelOptions]="{standalone: true}" 
                          #recomdation
                          (keyup)="getAllRecommendationsTypes(1,recomdation.searchTerm)"
                          [(ngModel)]="selectedRec"
                      >
                       <ng-template ng-option-tmp let-item="item"  let-item$="item$" let-index="index">
                        {{item?.name}}
                       </ng-template>
                     </ng-select>
                  </div>
              </div>
            <div class="form-row row">
                <div class="form-group col">
                    <label> سعر الشراء</label>
                    <input
                      type="text"
                      formControlName="purchasingPrice"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['purchasingPrice'].errors }"
                   
                    />
                    <div *ngIf="submitted && f['purchasingPrice'].errors" class="invalid-feedback">
                      <div *ngIf="f['sellingPrice'].errors['required']">   سعر الشراء مطلوب</div>

                    </div>
                  </div>
                  <div class="form-group col">
                    <label>سعر البيع</label>
                    <input
                      type="text"
                      formControlName="sellingPrice"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['sellingPrice'].errors }"
                    
                    />
                    <div *ngIf="submitted && f['sellingPrice'].errors" class="invalid-feedback">
                      <div *ngIf="f['purchasingPrice'].errors['required']">  سعر البيع مطلوب</div>
                    </div>
                  </div>
                  <div class="form-group col">
                    <label>سعر وقف خسائر</label>
                    <input
                      type="text"
                      formControlName="stopLossPrice"
                      class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f['stopLossPrice'].errors }"
                    
                    />
                    <div *ngIf="submitted && f['stopLossPrice'].errors" class="invalid-feedback">
                      <div *ngIf="f['stopLossPrice'].errors['required']">  سعر وقف خسائر مطلوب</div>
                    </div>
                  </div>
              </div>

            <div class="form-row row">
                <div class="form-group col">
                    <label>الحالة</label>
                 
                    <select class="form-select" 
                    formControlName="condition" 
                    [ngClass]="{ 'is-invalid': submitted && f['stopLossPrice'].errors }" >
                         <option value="" disabled="" selected="">حالة التوصية</option>
                        <option value="1">رابحة</option>
                        <option value="2">وقف خساير</option>
                        <option value="3">البيع قرب سعر الشراء</option>
                        <option value="4">جديد</option>
                        <option value="5">مفتوحة</option>
                      </select>
                    <div *ngIf="submitted && f['condition'].errors" class="invalid-feedback">
                      <div *ngIf="f['condition'].errors['required']"> الحالة  مطلوبة</div>
                    </div>
                  </div>
                <div class="form-group col">
                    <label>تاريخ التحقيق</label>
                    <input
                      type="date"
                      formControlName="InvestigationDate"
                      class="form-control"
                    />
                    <!-- <div *ngIf="submitted && f['workTime'].errors" class="invalid-feedback">
                      <div *ngIf="f['workTime'].errors['required']">  مواعيد العمل مطلوب</div>
                    </div> -->
                  </div>
                  <div class="form-group col">
                    <label>ذهبية ؟</label>
                    <select class="form-select" 
                     formControlName="is_golden"
                    >
                      <option value="" disabled selected>اختر</option>
                        <option value="1">ذهبية</option>
                        <option value="2">غير ذهبية</option>
                      </select>
                      <!-- <input type="checkbox"> -->
                  </div>
              </div>



            <div class="form-row row">
              <div class="form-group col">
                <label>* السوق</label>
                <select class="form-select" 
                formControlName="market_id">
                    <option selected disabled>أختر</option>
                    <option [value]="item.id" *ngFor="let item of MarketsList">{{item?.name}}</option>
                  </select>
              </div>
                <div class="form-group col">
                    <label>تاريخ شراءالوصية</label>
                    <input
                      type="date"
                      formControlName="dateOfPurchaseOfTheWill"
                      class="form-control"
                    />
                  </div>
                <div class="form-group col">
                    <label>تاريخ بيع الوصية</label>
                    <input
                      type="date"
                      formControlName="dateOfSaleOfTheWill"
                      class="form-control"
                    />
                  </div>
          
              </div>


            <div class="form-row row">
                <div class="form-group col">
                    <label>وصف التوصية</label>
                    <textarea class="form-control" formControlName="recomondationDiscreption"  rows="3"></textarea>
                  </div>
          
              </div>

            <div class="form-group">
              <button *ngIf="!recomondationId" type="button" class="btn btn-primary my-2" (click)="addEditRecomondation(0)">إضافة</button>
              <button *ngIf="recomondationId"  type="button" class="btn btn-primary my-2" (click)="addEditRecomondation(recomondationId)">تحديث</button>
                <button
                  type="button"
                  (click)="onReset()"
                  class="btn btn-danger mx-2"
                >
                  مسح
                </button>
              </div>

          </form>
    </div>
  </div>
